<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".NuevaNotificacion"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tratamiento"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".vacunacion"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".desparasitacion"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".alimentacion"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NuevaMascota"
            android:exported="false"
            android:parentActivityName=".miMascota">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".miMascota" />
        </activity>
        <activity
            android:name=".NuevaAlimentacion"
            android:exported="false"
            android:parentActivityName=".alimentacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".alimentacion" />
        </activity>
        <activity
            android:name=".MiVet"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Historial"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NuevoTto"
            android:exported="false"
            android:parentActivityName=".tratamiento">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tratamiento" />
        </activity>
        <activity
            android:name=".NuevaDesparasitacion"
            android:exported="false"
            android:parentActivityName=".desparasitacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".desparasitacion" />
        </activity>
        <activity
            android:name=".NuevaVacunacion"
            android:exported="false"
            android:parentActivityName=".vacunacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".vacunacion" />
        </activity>
        <activity
            android:name=".miMascota"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>